.header-container {
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.header-title {
  font-weight: bold;
}

.header-links {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header-links a {
  margin: 0 10px;
}

.header-checkout {
  cursor: pointer;
}